{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
                {% for share in query %}
                <tr>
                    <td>{{ share["symbol"] }}</td>
                    <td>{{ share["name"] }}</td>
                    <td>{{ share["shares"] }}</td>
                    <td>{{ share["price"] }}</td>
                    <td>{{ share["time"] }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>

{% endblock %}