{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autofocus class="form-group" name="symbol" placeholder="Stock symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Look Up</button>
    </form>

    <table style='margin-top: 30px' class="table table-striped">
      <thead>
        <tr>
          <th scope="col"> Symbol </th>
          <th scope="col"> Company Name </th>
          <th scope="col"> Price (USD) </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">     {{ symbol }} </th>
          <td>  {{ name }}  </td>
          <td>  {{ price}}</td>
        </tr>
      </body>
    </table>
{% endblock %}
Footer
